.person {
    width: 57rem;
}

.person-container {
  width: 65rem;
}

.person-header {
  width: 52rem;
}

.person-div {
    width: 65rem;
}

.bg-opacity-custom {
    background-color: rgba(3, 14, 31, 0.3); /* bg-slate-700 com opacidade */
}

  

/* home.css */

.person-div {
    width: 100%;
    box-sizing: border-box;
  }
  
  @media (min-width: 768px) {
    .person-div {
      padding: 1rem;
    }
    .pad-person {
  padding: 2px;
}
    .bg-opacity-custom {
      background-color: rgba(0, 0, 0, 0.5); 
    }
    .person-header {
  width: 52rem;
}
  .person-container {
    width: 50rem;
  }
  }