@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-image: url("./components/img/thumb-1920-1355025.png");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  font-family: 'Roboto', sans-serif;
}



.clip-icon {
  clip-path: polygon(100% 0, 0% 500%, 0% 0%, 0 0%);
}

@keyframes marquee {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}




